.tweet_first tweet_odd{
	float:left;
	margin-top: 15px;
}
.tweet_even{
	float:left;
	margin-top: 15px;
}
.tweet_odd{
	float:left;
	margin-top: 15px;
}
.profile_image_tag{
	float:left;
	border-radius: 5px 5px 5px 5px;
}
.tweet_text{
	float: left;
    margin-left: 10px;
    width: 90%;
}
.tweet_time{
	float: left;
    margin-left: 10px;
}
.tweet_reply{
	float: left;
    margin-left: 10px;
}
.tweet_retweet{
	float: left;
    margin-left: 10px;
}
.tweet_favorite{
	float:left;
	margin-left: 10px;
}
.tweet_user{
	float: left;
    margin-left: 10px;
    width: 90%;
}